@CHARSET "UTF-8";
html,body{
	margin:0;
	padding:0;
}
.nav-bg{
	background:#447BD4;
}
.logo{
	color:#14181E;
}
.separator{
	border-bottom: 2px solid #66a75;
	margin-bottom: 15px;
}
.textbox-size{
	width:120px;
}
.row-gap{
	margin:15px 0px 0px 0px;
}

.ver-align{
	margin: auto 0 auto 0;
}
.var-align-cell{
	display: table-cell;
	vertical-align: middle !important;
	text-align: center;
}
.error{
	font-size: 12px;
	color:red;
}
.num-error{
	font-size:10px;
	color:red;
}