@CHARSET "UTF-8";
html, body{
	background-color:#B8C3C7;
	padding:0px;
	margin:0px;
}
header{
	width:600px;
	
	margin-right:auto;
	margin-left:auto;
	margin-top:30px;
	margin-bottom:50px;
	
	text-align:center;
	
	padding:5px;
	height:auto;
	
	position:relative;
}
header a{
	color:#666;
	text-decoration: none;
}
header a:hover{
	color:black;
}
.error{
	color:red;
	font-size: 11px;
}
.border{
	border-radius:5px;
}
/*.container{
	width:600px;
	
	margin:0px;
	margin-right:auto;
	margin-left:auto;
	
	padding:10px 5px 10px 5px;
	
	position:relative;
	background:#9AB9C8;
	height:auto;
	
	margin-bottom: 5px;
	padding-left:10px;
}
.container h3{
	margin-left:10px;
}
.container input{
	padding:5px;
}
.login_wrapper{
	width:inherit;
	padding:10px;
	margin:0px;
}
.slide{
	width:300px;
	height:280px;
	background:#E4E6E8;
	margin-right:5px;
	float:left;
	
}
.login{
	width:280px;
	height:auto;
	padding:0px;
	
	float:right;
}
.login h3{
	margin:0px;
	padding:0px 5px 10px 10px;
}
.login ul, .container ul{
	width:inherit;
	margin:0px;
	padding:0px;
	list-style-type: none;
}
.login ul li, .container ul li{
	margin-bottom:3px;
	padding: 5px 5px 10px 10px;
	width:250px;
}
.login ul li label, .container ul li label{
	display:block;
	widht:250px;
	padding-left:2px;
}
.login ul li input[type="email"],.login ul li input[type="password"]{
	width:230px;
	padding: 5px;
}
.login ul li a{
	font-size:12px;
	margin-right:50px;
	margin-left:10px;
}
#btnLogin{
	width:80px;
	padding:10px 3px 10px 3px;
	background-color:#4186D3;
	border:0px;
	border-radius:5px;
}
#btnRegister{
	width:240px;
	padding:10px 15px;
	border-radius:5px;
	border:0px;
	background:#BCC9CE;
}
#btnRegister:hover{
	background:#CDD1D3;
}
#btnLogin:hover{
	background-color:#3C9DD0;
}*/

footer{
	width:600px;
	margin-right:auto;
	margin-left:auto;
	
	text-align: center;
	font-size: 13px;
	color:#666;
	
	margin-top:20px;
}
footer ul{
	list-style-type: none;
	width: auto;
	height:auto;
	
	display: inline;
	padding:0px;
}
footer ul li{
	display:inline;
	widht:100px;
	padding:3px;
	margin-right:3px;
}
footer ul li a{
	color:#666;
	text-decoration: none;
}
footer ul li a:hover{
	color:black;
}
.box-shadow{
	box-shadow:0px 0px 4px 2px gray;
}